<%- layout('layouts/main.ejs') %>

    <div class="row col-md-12">
        <div class="card text-center col-md-4 mt-3">
            <div class="card-header">
                <h3>
                    Drones
                </h3>
            </div>
            <div class="card-body">
                Ingresa a las opciones de Drones
                <a href="/api-funcionario/get-drones"
                    class="btn btn-primary btn-block mt-3 form-control">Ingresar</a>
            </div>
        </div>
        <div class="card text-center col-md-4 mt-3">
            <div class="card-header">
                <h3>
                    Productos
                </h3>
            </div>
            <div class="card-body">
                Ingresa a las opciones de Productos
                <a href="/api-funcionario/get-products"
                    class="btn btn-primary btn-block mt-3 form-control">Ingresar</a>
            </div>
        </div>
        <div class="card text-center col-md-4 mt-3">
            <div class="card-header">
                <h3>
                    Clientes
                </h3>
            </div>
            <div class="card-body">
                Ingresa a las opciones de Clientes
                <a href="/api-funcionario/update-product/"
                    class="btn btn-primary btn-block mt-3 form-control">Ingresar</a>
            </div>
        </div>
    </div>